{
    log default {
        format filter {
            wrap json
            fields {
                request>headers delete
                resp_headers delete
                user_id delete
                request>uri regexp "[?].*" ""
            }
        }
    }
    servers {
        protocols h1 h2
        timeouts {
            read_header 10s
            read_body 30s
            idle 2m
        }
    }
}
{$CRM_DOMAIN} {
    log {
        output file /data/crm-access.log {
            roll_size 5MiB
            roll_keep 4
            roll_keep_for 168h
        }
        format filter {
            wrap json
            fields {
                request>headers delete
                resp_headers delete
                user_id delete
                request>uri regexp "[?].*" ""
            }
        }
    }
    @protected not path /about /privacy
    basic_auth @protected {
        {$CRM_LOGIN} {$CRM_PASSWORD_HASH}
    }
    request_body {
        max_size 1MB
    }
    header {
        Alt-Svc "clear"
        X-Frame-Options DENY
        X-Content-Type-Options nosniff
        Referrer-Policy no-referrer
        Strict-Transport-Security "max-age=31536000"
        -Server
    }
    reverse_proxy crm:8765 {
        header_up X-CRM-Gateway {$CRM_GATEWAY_SECRET}
        header_up -Authorization
        transport http {
            dial_timeout 3s
            response_header_timeout 180s
            read_timeout 30s
            write_timeout 30s
        }
    }
}
